body{
    background-color: rgb(54, 146, 109);
    background-image: url( https://img1.cgtrader.com/items/2507118/f41c9ec05e/most-popular-luxury-brand-logos-3d-model-max-obj-3ds-fbx-stl-dwg.jpg );

}
#page2 div {
    color: rgb(1, 5, 8);
    text-align: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    
}
