body{
    background-color: rgb(235, 235, 242);
    background-image: url( https://upload.travelawaits.com/ta/uploads/2021/05/shutterstock_629182610-2.jpg );
    background-size: cover;
}

#page1 p,  #page1 h1, #page1 h2{
    color: #e4dede;
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-shadow: 3px 1px 5px #000000, -2px 3px 3px black

    
}
.flex{
  display: flex;
}
  
ul li{
  list-style: none;
  margin: 0 10px;

}

ul li a{
  text-decoration: none;
  color: rgb(19, 223, 23);
  font-size: 20px;
  font-weight: bold;
  transition: all .3s ease-in-out


}
  
ul li a:hover{
  color: aliceblue;
  background: #068434;
  padding: 5px 10px;
  border-radius: 5px
}

 #page1 p, h2{

  width: 200px;
  margin-top: 20px;
 }


 #page1 {
  position: relative;
  left: 50px;
  top: 100px;
  display: inline-block;
  border: 4px solid rgba(189, 122, 13, 0.938);
  margin: 0 auto;
  background-color: #0000009b;
 }
  
 

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(9, 9, 9);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #0c805d;
  color: rgb(188, 6, 6);
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgba(11, 121, 62, 0.748);
  color: rgb(250, 250, 250);
}