body{
    background-color: rgb(10, 10, 18);
}

#page1 p,  #page1 h1, #page1 h2{
    color: #f4efef;
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-shadow: 3px 1px 5px #000000, -2px 3px 3px black

}