body{
    background-image: url( https://img1.cgtrader.com/items/2507118/f41c9ec05e/most-popular-luxury-brand-logos-3d-model-max-obj-3ds-fbx-stl-dwg.jpg   )
}




 .flex {
   display: flex;
   
}

.flex ul li{
    list-style: none;
    margin: 0 10px;
}

.flex ul li a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.flex ul li  a:hover{
    color: #333;
    background: hsla(0, 0%, 100%, 0.912);
    padding: 5px 10px;
    border-radius: 5px;

}


h2, p{
   align-items: center;
   text-align: center;
   color: #ebe5e5; 
   font-size: 500%;
   margin: 0px ;
  padding: 20px;
   display: inline block;
   border:  5px solid  #333;
   position: relative;
   background-color: #33333381
   
  
}
  

h1{
    align-items: center;
    text-align: center;
    font-size: larger;
    color: aliceblue;
}
    


.logo img{
    width: 50px;
    height: 50px;
    
}

#page1{
    position: relative;
    left: 700px;
    top: 190px;
    display: inline-block;
    border: 5px solid #333;
    margin: 0 auto;
    background-color: #333333ae;
    text-align: center;
    align-items: center;
    color: aliceblue;
  
}

#page{
    position: relative;
    left: 300px;
    top: 200px;
    display: inline-block;
    border: 5px solid rgba(228, 235, 236, 0.5);
    margin: 0 auto;
    background-color: #333333ad;
    text-align: center;
    align-items: center;
    color: aliceblue;
    
    
}

#page2 div{
    position: relative;
    display: inline-block;
    border: 4px solid rgba(130, 124, 115, 0.938);
    margin: 0 auto;
    background-color: #0000009b;
    color: aliceblue;



}

  


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: rgb(9, 9, 9);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #0a0a0a;
    color: rgb(188, 6, 6);
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #333;
    color: rgb(212, 208, 208);
  }