body{
    background-image: url( https://miro.medium.com/max/1000/1*2_iEw7z3swW7uSXAE_DOQA.jpeg);
    font-size: larger;
    background-size: cover;

   
}



#page1 div, #page1 h1, #page1 h2{
     color: #fff;
     text-align: center;
     align-items: center;
     margin: 10px;
     padding: 10px;
     text-shadow: 3px  1px  5px #000000, -2px 3px 3px black

}


    
.flex{
    display: flex;
}
ul li{
    list-style: none;
    margin: 0 10px;

}
 
ul li a{
    text-decoration: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
    transition: all .3s ease-in-out


}
    
ul li a:hover{
    color: aliceblue;
    background: #cf8908;
    padding: 5px 10px;
    border-radius: 5px

}