body{
    background-image: url( https://miro.medium.com/max/1000/1*2_iEw7z3swW7uSXAE_DOQA.jpeg);
    font-size: larger;

   
}



#page1 div, #page1 h1, #page1 h2{
     color: #fff;
     text-align: center;
     align-items: center;
     margin: 10px;
     padding: 10px;
     text-shadow: 3px  1px  5px #000000, -2px 3px 3px black

}


    
